body {
    font-family: Arial, sans-serif;
    background-color: #e9d8b5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: #734d26; /* Coffee brown color */
}

.content {
    text-align: center;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #734d26;
}

.menu-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.menu-item {
    width: 200px;
    margin: 20px;
    text-align: center;
  
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.weekly-top {
    margin: 30px 0;
    text-align: center;
}

.weekly-top h3 {
    font-size: 22px;
    color: #734d26;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.weekly-top div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weekly-top-item {
    width: 250px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weekly-top-item p {
    margin: 10px 0;
    font-size: 16px;
}

.footer {
    background-color: #734d26;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer hr {
    width: 80%;
    margin: 10px auto;
    border: 0;
    height: 1px;
    background-color: white;
}
.footer {
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 1000px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}