form {
    
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 100px; 
    background-color: #7A4B0E;
    box-sizing: border-box;
    min-height: 100px;
    max-width: 100%;
    text-align: center;
    position: absolute;
    height: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b47e00;

}
h1{
    text-align: center;
    margin-bottom: 45px;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}

.textbox{
    width: 100%;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 30px 0;
    border-bottom: 1px solid #b47e00;
}
.textboxdiv{
    border-bottom: 2px solid #ffffff;
    position: relative;
    margin: 30px 0;
}
.textboxdiv input{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #ffffff;
    font-size: 30px;
}
body {
    min-height: 100vh;
    height:30px;
    width:30px;
    background-image: url("/images/coffe background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 1000px;
    height: 50px;
    border: 1px solid #b47e00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #7A4B0E;
    color: white;
    padding: 10px 20px;
    color: #b47e00;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #da9f5ccb;
    color: white;
    padding: 10px 20px;
}

.booking-content {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 100px; 
    background-color: #7A4B0E;
    box-sizing: border-box;
    min-height: 100px;
    max-width: 100%;
    text-align: center;
    position: absolute;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b47e00;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbtn{
    background: none;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}
.loginbtn:hover{
    background: #ffffff;
    color: #7A4B0E;
}
.registerPromt{
    text-align: center;
    margin-bottom: 45px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 20px;
}
table {
    
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 100px; 
    background-color: #7A4B0E;
    box-sizing: border-box;
    min-height: 100px;
    max-width: 100%;
    text-align: center;
    position: absolute;
    height: 580px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b47e00;

}
.welcome{
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 100px; 
    background-color: #7A4B0E;
    box-sizing: border-box;
    min-height: 100px;
    max-width: 100%;
    text-align: left;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border: 1px solid #b47e00;
   
}
