{% extends "Base.html" %}

{% block title %}Ordering Page{% endblock %}

{% block content %}
<div class="content">
    <h1>Welcome to the Ordering Page</h1>
    <p>This is the content of the order page.</p>
    
    <!-- Menu Section -->
    <div>
        <h2 class="section-title">Coffees</h2>
        <div class="menu-section">
            <div class="menu-item">
                <img src="" alt="a picture of a Americano coffee" width="500" height="333" >
                <p>Americano</p>
            </div>
            <div class="menu-item">
                <img src="flat-white-d8ada0f.jpg" alt="a picture of a Flat White">
                <p>Flat White</p>
            </div>
            <div class="menu-item">
                <img src="path/to/lattes.jpg" alt="a picture of a Latte">
                <p>Lattes</p>
            </div>
            <div class="menu-item">
                <img src="path/to/espressos.jpg" alt="a picture of a Espresso">
                <p>Espresso</p>
            </div>
            <div class="menu-item">
                <img src="path/to/capachinos.jpg" alt="a picture of a Capachino">
                <p>Capachinos</p>
            </div>
        </div>

        <div class="weekly-top">
            <h3>Weekly Top Drinks</h3>
            <div>
                <div class="weekly-top-item">
                    <p>ADD MOST POPULAR DRINK FOR TIME HERE</p>
                    <p>ADD DESCRIPTION FOR IMAGE ABOVE</p>
                </div>
                <div class="weekly-top-item">
                    <p>ADD MOST POPULAR DRINK FOR TIME HERE</p>
                    <p>ADD DESCRIPTION FOR IMAGE ABOVE</p>
                </div>
            </div>
        </div>

        <h2 class="section-title">Desserts</h2>
        <div class="menu-section">
            <div class="menu-item">
                <img src="path/to/croissants.jpg" alt="Croissants">
                <p>Croissants</p>
            </div>
            <div class="menu-item">
                <img src="path/to/muffins.jpg" alt="Muffins">
                <p>Muffins</p>
            </div>
            <div class="menu-item">
                <img src="path/to/cakes.jpg" alt="cakes">
                <p>Cakes</p>
            </div>
            <div class="menu-item">
                <img src="path/to/milkshakes.jpg" alt="Milkshakes">
                <p>MILKSHAKES</p>
            </div>
        </div>

        <div class="weekly-top">
            <h3>Weekly Top Desserts</h3>
            <div>
                <div class="weekly-top-item">
                    <p>ADD MOST POPULAR DESSERT FOR TIME HERE</p>
                    <p>ADD DESCRIPTION FOR IMAGE ABOVE</p>
                </div>
                <div class="weekly-top-item">
                    <p>ADD MOST POPULAR DESSERT FOR TIME HERE</p>
                    <p>ADD DESCRIPTION FOR IMAGE ABOVE</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Menu Section -->
</div>
{% endblock %}

<div class="footer">
    <footer>
        <h4>Contact Us</h4>
        <hr>
        <!-- Only user email address added -->
        <label>Email: Bean&BrewContact@gmail.com</label>
        <a href="mailto:Bean&BrewContact@gmail.com"></a><br>
    </footer>
</div>