<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
</head>

<body>
    <nav class="topnav">
        <a class="active" href="/" style="color: white;">homepage</a>
        <a href="/templates/Orderingpage.html" style="color: white;">ordering a coffee</a>
        <a href="/templates/BookingPage.html" style="color: white;">booking a seat</a>
        <a href="/templates/register.html" style="color: white;">Register</a>
        <a href="/templates/profile.htm" style="color: white;">Profile</a>

        <a style="float:right; color: white;" href="/templates/login.html">Login</a>
    </nav>

 

    
        <div class="footer">
            <footer>
                <h4>Contact Us</h4>
                <hr>
                
                <label>Email: Bean&BrewContant@gmail.com </label>
                <a href="mailto:Bean&BrewContant@gmail.com"></a><br>
            </footer>
        </div>

</body>

</html>