<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
</head>
<nav class="topnav">
    <a class="active" href="/" style="color: black;">homepage</a>
    <a href="/Orderingpage" style="color: black;">ordering a coffee</a>
    <a href="/BookingPage" style="color: black;">booking a seat</a>
    <a href="/register" style="color: black;">Register</a>
    <a href="/profile" style="color: black;">Profile</a>

    <a style="float:right; color: black;" href="/login">Login</a>
</nav>

<body>
    <form method="POST" action="/register">
        <h2>Register</h2>
        <div class="inputbox">
            <label for="username">Username</label>
            <input name="username" id="username" type="text" required>
        </div>
        <div class="inputbox">
            <label for="email">Email</label>
            <input name="email" id="email" type="email" required>
        </div>
        <div class="inputbox">
            <label for="password">Password</label>
            <input name="password" id="password" type="password" required>
        </div>
        <button type="submit">Register</button>
    </form>

    <div class="footer">
        <footer>
            <h4>Contact Us</h4>
            <hr>

            <label>Email: Bean&BrewContant@gmail.com </label>
            <a href="mailto:Bean&BrewContant@gmail.com"></a><br>
        </footer>
    </div>

</body>

</html>