<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coffee shop ordering page</title>
</head>

{% extends "Base.html" %}

{% block title %}ordering Page{% endblock %}

{% block content %}
<div>
    <h1>Welcome to the ordering Page</h1>
    <p>This is the content of the order page.</p>
</div>
{% endblock %}

      

<div class ="footer">
    <footer>
        <h4>Contact Us</h4>
    <hr>
    <!-- Only user email address added -->
    <label>Email: Bean&BrewContant@gmail.com </label>
 
    <a href="mailto:Bean&BrewContant@gmail.com">
        
    </a><br>
  
</div>

    
    
    


    
    
    
</body>
</html>